package errors

import (
	"strconv"
	"net/http"
)

templ errorComponent(statusCode int, messages ...string) {
	<h1 class="text-2xl font-bold text-center">{ strconv.Itoa(statusCode) } - { http.StatusText(statusCode) }</h1>
	for _, message := range messages {
		<p class="text-red">{ message }</p>
	}
}
