{{ $options := false }}
{{ range .Permissions }}
    {{ if .MayEdit }}
        {{ $options = true }}
        {{ break }}
    {{ end }}
{{ end }}
<section
    class="grid grid-cols-[auto_1fr{{ if $options }}_1fr{{ end }}] gap-x-6 gap-y-2 items-center p-3"
    id="members"
    hx-swap="outerHTML"
    hx-target="this"
>
    <p class="font-bold">System</p>
    <p class="font-bold">Permission</p>
    {{ if $options }}<p class="font-bold">Options</p>{{ end }}
    {{ range .Permissions }}
        <hr class="col-span-full">
        {{ $system := .System }}
        {{ $mayEdit := .MayEdit }}
        {{ range .Permissions }}
            <p>{{ $system }}</p>
            <p>{{ . }}</p>
            {{ if $mayEdit }}
                <p class="text-red-800">Remove</p>
            {{ else if $options }}
                <p></p>
            {{ end }}
            {{ $system = "" }}
        {{ end }}
    {{ end }}
</section>
