<h2 class="text-2xl font-bold">Roles</h2>
{{ block "roles" . }}
<section class="grid grid-cols-3 gap-2 items-center m-4">
    <p class="font-bold">Name</p>
    <p class="font-bold">Members</p>
    <p class="font-bold">Description</p>
    {{ range . }}
        <hr class="col-span-3">
        <a href="/role/{{ .ID }}">{{ .DisplayName }}</a>
        <span>
            {{ if gt .SubroleCount 0 }}
                <p>{{ .SubroleCount }} sub-role{{ if ne .SubroleCount 1 }}s{{ end }}</p>
            {{ end }}
            {{ if gt .MemberCount 0 }}
                <p>{{ .MemberCount }} member{{ if ne .SubroleCount 1 }}s{{ end }}</p>
            {{ end }}
        </span>
        <span>{{ .Description }}</span>
    {{ end }}
</section>
{{ end }}
