{{ block "role-name" . }}
<h1
    class="text-3xl font-bold"
    {{ if .MayUpdate }}
        hx-get="/role/name?id={{ .ID }}"
        hx-swap="outerHTML"
        hx-target="this"
    {{ end }}
>
    {{ .DisplayName }}
    {{ if .MayUpdate }}
        <i class="fa-regular fa-pen-to-square"></i>
    {{ end }}
</h1>
{{ end }}
{{ define "role-edit-name" }}
<form
    class="text-3xl"
    hx-post="/role/name?id={{ .ID }}"
    hx-swap="outerHTML"
    hx-target="this"
>
    <input name="display-name" type="text" value="{{ .DisplayName }}" />
    <input class="bg-blue-300 p-2 rounded-sm" type="submit" value="Save" />
</form>
{{ end }}

{{ block "role-description" . }}
<p
    class="p-2"
    {{ if .MayUpdate }}
        hx-get="/role/description?id={{ .ID }}"
        hx-swap="outerHTML"
        hx-target="this"
    {{ end }}
>
    {{ .Description }}
    {{ if .MayUpdate }}
        <i class="fa-regular fa-pen-to-square"></i>
    {{ end }}
</p>
{{ end }}
{{ define "role-edit-description" }}
<form
    hx-post="/role/description?id={{ .ID }}"
    hx-swap="outerHTML"
    hx-target="this"
>
    <textarea required class="p-2 w-96" name="description">{{ .Description }}</textarea>
    <input class="block bg-blue-300 p-1 rounded-sm" type="submit" value="Save" />
</form>
{{ end }}

<h2 class="text-xl">Sub-roles</h2>
{{ template "subroles.html" . }}

<h2 class="text-xl">Members</h2>
{{ template "members.html" . }}
