<h2 class="text-2xl font-bold">Roles</h2>
<section class="grid grid-cols-3 gap-2 items-center p-4">
    <p class="font-bold">Name</p>
    <p class="font-bold">Members</p>
    <p class="font-bold">Description</p>
    {{ range .Roles }}
        <hr class="col-span-full">
        <a href="/role/{{ .ID }}">{{ .DisplayName }}</a>
        <span>
            {{ if gt .SubroleCount 0 }}
                <p>{{ .SubroleCount }} sub-role{{ if ne .SubroleCount 1 }}s{{ end }}</p>
            {{ end }}
            {{ if gt .MemberCount 0 }}
                <p>{{ .MemberCount }} member{{ if ne .SubroleCount 1 }}s{{ end }}</p>
            {{ end }}
        </span>
        <span>{{ .Description }}</span>
    {{ end }}
</section>
{{ if .MayCreate }}
    <section class="p-4 pt-0" hx-target="this" hx-swap="outerHTML">
        <button class="bg-slate-300 w-8 h-8" hx-get="/create-role">+</button>
    </section>
{{ end }}
{{ define "create-role" }}
    <form hx-post="/create-role" class="flex gap-2 flex-justify p-4 pt-0" hx-target="main" hx-swap="innerHTML">
        <label for="id">ID:</label>
        <input class="border-b border-black" type="text" id="id" name="id" />
        <label class="ml-auto" for="display-name">Display name:</label>
        <input class="border-b border-black" type="text" id="display-name" name="display-name" />
        <label class="ml-auto" for="discription">Description:</label>
        <input class="border-b border-black" type="text" id="description" name="description" />
        <input type="submit" value="Create" class="bg-blue-300 px-2 rounded-md" />
    </form>
{{ end }}
