{{ block "role-name" . }}
<h1
    class="text-3xl font-bold"
    hx-get="/role/name/{{ .ID }}"
    hx-swap="outerHTML"
    hx-target="this"
>{{ .DisplayName }}</h1>
{{ end }}
{{ define "role-edit-name" }}
<form
    class="text-3xl"
    hx-post="/role/name/{{ .ID }}"
    hx-target="this"
>
    <input name="display-name" type="text" value="{{ .DisplayName }}" />
    <input type="submit" value="Save" />
</form>
{{ end }}

<p>{{ .Description }}</p>

<h2 class="text-xl">Sub-roles</h2>
{{ template "roles" .Subroles }}

<h2 class="text-xl">Members</h2>
<section class="grid grid-cols-3 gap-2 items-center m-3">
    <p class="font-bold">Name</p>
    <p class="font-bold">Date range</p>
    <p class="font-bold">Comment</p>
    {{ range .Members }}
        {{ if .Indirect }}
            <hr class="col-span-3">
            <span>{{ .KTHID }}</span>
            <span></span>
            <span></span>
        {{ else }}
            <hr class="col-span-3">
            <span class="font-bold">{{ .KTHID }}</span>
            <span>{{ date .StartDate }} - {{ date .EndDate }}</span>
            <span>{{ .Comment }}</span>
        {{ end }}
    {{ end }}
</section>
